@import url('https://fonts.googleapis.com/css2?family=Anek+Gurmukhi:wght@100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anek+Gurmukhi:wght@100..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


/* Used through whole site */

body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    max-width: 100vw;
    overflow-x: hidden;
    background-color: #020519;
}

div,
p,
section,
header,
footer,
article,
aside,
main,
nav {
    margin: 0 auto;
    color: white;
    font-family: Inter;
}

.white-line {
    border: none;
    height: 3px;
    background-color: white;
    margin: 20px auto;
}

/* Custom Scrollbar Start */
/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #020519;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: White;
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #cccccc;
}

/* Custom Scrollbar end */

/* Under the fold */

.fullscreen-image-container {
    position: relative;
    width: 100%;
    height: 100vh;
    text-align: center;
}

.fullscreen-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('Under-the-fold-image.png') no-repeat center center;
    background-size: cover;
    z-index: 0;
}

/* Header */

.header {
    position: relative;
    top: 0;
    width: 100%;
    max-width: inherit;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    padding: 25px 20px;
    z-index: 99;
}

.logo-title {
    height: 45px;
    display: flex;
    align-items: center;
    gap: 11.25px;
}

.logo {
    width: 51.29px;
    height: 45px;
}

.techgrus {
    color: white;
    font-size: 36px;
    font-family: 'Spy Agency', sans-serif;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 39.6px;
    word-wrap: break-word;
}

.rhs-link-button {
    height: 46.92px;
    display: flex;
    align-items: center;
    gap: 33.75px;
}

.call-us {
    position: relative;
    color: white;
    font-size: 14px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    line-height: 21px;
    word-wrap: break-word;
    text-decoration: none;
}

.call-us::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: white;
    transition: width 0.3s ease;
}

.call-us:hover::after {
    width: 100%;
}

.header-cta-btn {
    position: relative;
    padding: 12.96px 21.06px;
    background: white;
    box-shadow: 0px 1.62px 8.1px rgba(0, 0, 0, 0.05);
    border-radius: 4.86px;
    border: none;
    cursor: pointer;
    font-size: 14px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    line-height: 21px;
    text-align: center;
    overflow: hidden;
    color: #000;
}

.header-cta-btn::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: black;
    /* Change color as needed */
    transition: width 0.3s ease;
}

.header-cta-btn:hover::after {
    width: 100%;
}

.nav-panel {
    padding: 10px 28px;
    background: rgba(255, 255, 255, 0.15);
    box-shadow: 0px 1.82px 9.11px rgba(0, 0, 0, 0.05);
    border-radius: 899.1px;
    backdrop-filter: blur(10.8px);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 36px;
}

.nav-link {
    color: white;
    font-size: 14px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    text-align: center;
    text-decoration: none;
}

.GetYourOwnDigitalExistence {
    color: white;
    font-size: 92px;
    font-family: FRIZON, sans-serif;
    font-weight: 400;
    line-height: 1;
    text-align: center;
    z-index: 1;
    margin-top: 8%;
    margin-bottom: 20px;
    position: relative;
}

.fullscreen-image-container .transp-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    align-items: center;
    z-index: 10;
    margin: 0 30% 0 30%;
}

.transp-btn {
    padding: 8px 20px;
    background: rgba(255, 255, 255, 0.01);
    border-radius: 999px;
    border: 0.5px solid rgba(255, 255, 255, 0.60);
    box-shadow: 0px 1.8px 9.1px rgba(0, 0, 0, 0.05);
    backdrop-filter: blur(13px);
    color: white;
    font-size: 14px;
    font-family: Inter, sans-serif;
    font-weight: 600;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
}

.transp-btn:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

/* Section Primary A (Used for section WHO and etc.) */

.Primary-Section-A {
    display: flex;
    width: 100%;
    height: fit-content;
    margin: 0 30px 0 30px;
}

.Primary-Section-A b {
    font-weight: 600;
}

.Primary-Section-A .left-half,
.Primary-Section-A .right-half {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.Primary-Section-A .left-half {
    width: auto;
    text-align: center;
}

.Primary-Section-A h2 {
    color: #1A1C2B;
    font-size: 210px;
    font-family: Nulshock;
    font-weight: 700;
    margin: 0;
}

.Primary-Section-A p.small,
.Primary-Section-A p.normal {
    color: rgba(255, 255, 255, 1);
    font-family: "Anek Gurmukhi";
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.Primary-Section-A p.small {
    color: rgba(255, 255, 255, 0.70);
    width: 571px;
}

.Primary-Section-A p.normal {
    width: 520px;
}

.Primary-Section-A .buttons {
    margin-top: 25px;
}

.Primary-Section-A .button-1,
.Primary-Section-A .button-2 {
    padding: 8px 20px;
    border-radius: 999px;
    box-shadow: 0px 1.822px 9.113px 0px rgba(0, 0, 0, 0.05);
    text-align: center;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    cursor: pointer;
    border: none;
}

.Primary-Section-A .button-1 {
    background: #FFF;
    color: var(--Black-100, #000);
}

.Primary-Section-A .button-2 {
    background: #020519;
    color: var(--White, #FFF);
    border: 0.5px solid rgba(255, 255, 255, 0.60);
    margin-left: -25px;
    font-weight: 500;
}

.Primary-Section-A .button-1:hover,
.Primary-Section-A .button-2:hover {
    font-weight: bolder;
}

.Primary-Section-A p.normal {
    font-size: 22px;
}

/* Section 2 */

.Section-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1144px;
    height: fit-content;
    margin: 0 auto;
}

.Section-2 .top-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 10px;
}

.Section-2 .box,
.Section-2 .bottom-box {
    position: relative;
    width: 562px;
    height: 470px;
    margin-right: 10px;
    /*distance btwn boxes*/
    padding: 0 40px 0 40px;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    box-shadow: 1.6px 4px 8px 0px rgba(0, 0, 0, 0.40);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Section-2 .box:last-child {
    margin-right: 0;
}

.Section-2 .box-1 {
    background-image: url('section-2-box-1.png');
}

.Section-2 .box-2 {
    background-image: url('section-2-box-2.png');
}

.Section-2 h2 {
    font-family: Nulshock;
    font-size: 64px;
    margin: 40px 0 20px 0;
}

.Section-2 p,
.Section-2 a {
    color: rgba(255, 255, 255, 0.8);
    font-family: "Anek Gurmukhi";
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    text-decoration: none;
    position: relative;
}

.Section-2 .button-1 {
    background: #020519;
    color: var(--White, #FFF);
    border: 0.5px solid rgba(255, 255, 255, 0.60) !important;
    font-weight: 500;
    display: inline-block;
    width: auto;

    margin-top: 20px;
    margin-bottom: 10px;
    padding: 8px 30px;
    border-radius: 999px;
    box-shadow: 0px 1.822px 9.113px 0px rgba(0, 0, 0, 0.05);
    text-align: center;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    cursor: pointer;
    border: none;
    align-self: center;
}

.Section-2 .column-left {
    position: absolute;
    bottom: 40px;
    left: 40px;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.Section-2 .bottom-box {
    width: 100%;
    max-width: 1144px;
    padding: 0;
    background-image: url('section-2-box-3.png');
    height: auto;
}

.Section-2 .bottom-box h2 {
    margin: 40px 0 0 0;
}

.Section-2 .bottom-box .inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 480px;
    align-self: stretch;
    text-align: center;
    margin-bottom: 20px;
    gap: 15px;
}

.Section-2 .bottom-box .transp-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 7px;
    align-self: stretch;
    flex-wrap: wrap;
}

.column {
    display: flex;
    flex-direction: column;
}

/* Section 3 + 4 */

.Section-3n4 .upper-half,
.Section-3n4 .bottom-half,
.Section-Pricing .upper-half,
.Section-Pricing .bottom-half {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.Section-3n4 .upper-half,
.Section-Pricing .upper-half {
    width: auto;
    text-align: center;
}

.Section-3n4 .upper-half p,
.Section-Pricing .upper-half p {
    width: 310px;
    text-align: left;
    margin-left: 20px;
}

.Section-3n4 .bottom-half,
.Section-Pricing .bottom-half {
    padding-bottom: 40px;
}

.Section-3n4 .bottom-half p,
.Section-Pricing .bottom-half p {
    width: 550px;
    margin: 0 10px 0 10px;
}


.ProductTypeButtons {
    width: 335px;
    margin-top: 10px;
    height: 100%;
    padding: 3px;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 16px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
}

.ProductTypeButtons .Button {
    width: 100%;
    height: 100%;
    padding: 16px 0px 10px 0px;
    border-radius: 16px;
    justify-content: center;
    align-items: center;
    display: flex;
    cursor: pointer;
}

.ProductTypeButtons .Button p {
    color: var(--White-60, rgba(255, 255, 255, 0.80));
    text-align: center;
    font-family: "Anek Gurmukhi";
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.ProductTypeButtons .Button.active {
    background: white;
}

.ProductTypeButtons .Button.active p {
    color: black;
    text-align: center;
    font-family: "Anek Gurmukhi";
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.ProductTypeButtons .Button:not(.active) {
    background: transparent;
    color: rgba(255, 255, 255, 0.60);
}

.ProductTypeButtons .producttype-btn1,
.ProductTypeButtons .producttype-btn2 {
    width: 100%;
    text-align: center;
    font-size: 24px;
    font-family: Anek Gurmukhi;
    word-wrap: break-word;
    font-weight: 500;
}


/* Website Plans */

.Website-Plans {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px 22px;
    margin: 0 15px 0 15px;
}

.plan-box {
    padding: 38px 22px;
    background: rgba(255, 255, 255, 0.02);
    border-radius: 17.6px;
    border: 1.1px solid rgba(255, 255, 255, 0.25);
    display: flex;
    flex-direction: column;
    gap: 19px;
    max-width: 330px;
    width: 100%;
}

.recommended {
    background: linear-gradient(161deg, rgba(255, 255, 255, 0.25) -0.04%, rgba(255, 255, 255, 0.02) 99.96%);
}

.plan-header {
    display: flex;
    margin: 0;
    justify-content: space-between;
    align-items: center;
}

.plan-header h2 {
    color: white;
    font-size: 22px;
    font-family: "Anek Gurmukhi", sans-serif;
    font-weight: 700;
}

.view-maintenance-plans {
    color: rgba(255, 255, 255, 0.50);
    text-decoration: none;
    font-size: 16px;
    font-family: "Anek Gurmukhi", sans-serif;
    font-weight: 300;
    text-align: center;
}

.price {
    display: flex;
    align-items: flex-end;
    gap: 3px;
    justify-content: flex-start;
    width: 100%;
}

.price-amount {
    font-size: 52.8px;
    color: white;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-style: italic;
}

.currency {
    font-size: 17.6px;
    color: white;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-style: italic;
}

.plan-description {
    color: rgba(255, 255, 255, 0.50);
    font-size: 16px;
    font-family: "Anek Gurmukhi", sans-serif;
    line-height: 24px;
}

.discuss-button {
    position: relative;
    padding: 11px 88px;
    background: rgba(255, 255, 255, 0.10);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
    border-radius: 6.6px;
    color: white;
    font-size: 17.6px;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    text-align: center;
    cursor: pointer;
    border: none;
    overflow: hidden;
}

.discuss-button:hover {
    transform: scale(1.02);
}


.plan-includes-heading {
    color: var(--White-100, #FFF);
    font-family: "Anek Gurmukhi";
    margin: 0 0 -10px 0;
    font-size: 15.4px;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.6px;
}

.plan-includes {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 5px;
    color: white;
    font-size: 15.4px;
    font-weight: 300;
    font-family: "Anek Gurmukhi", sans-serif;
}

.plan-includes li::before {
    content: '';
    display:inline-block;
    width: 14.3px;
    height: 14.3px;
    border-radius: 108.9px; /* Ensures it's a circle */
    background: var(--Darkest-Grey, #222); /* Dark grey color */
    margin-right: 10px;
}

/* Icons For Figma.. etc */

.icon-section {
    display: flex;
    width: 780px;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    text-align: center;
}

.icon-list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 25px;
    list-style: none;
    padding: 0;
}

.icon-item {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    overflow: hidden;
}

.icon-logo {
    width: 65%;  
    height: 65%;
    object-fit: contain;
}

.customized-solution {
    font-family: 'Anek Gurmukhi', sans-serif;
    font-size: 18px;
    color: white;
}

.customized-solution strong {
    font-weight: 600;
}

.customized-solution u {
    text-decoration: underline;
}

.disclaimer {
    color: rgba(255, 255, 255, 0.5);
    font-size: 16px;
}

/* Meet the team Images */

.frame-container {
    width: 1593px;
    height: 538px; 
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #000;
}

.round-images {
    width: 100%;
    height: 100%;
    position: relative;
}

.ellipse-image {
    position: absolute;
    border-radius: 50%;
}


.team-section {
    max-width: 1200px;
    margin: 0 auto;
}

.team-row {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-bottom: 40px;
}

.team-member {
    width: 200px;
    text-align: center;
}

.team-photo {
    width: 100%;
    border-radius: 50%;
}

figcaption {
    margin-top: 15px;
    font-size: 20px;
    color: white;
    font-family: 'Coolvetica', sans-serif;
}

